.job-con-head, 
.job-con-list > li{
    display: flex;
    display: -webkit-flex; display: -ms-flex;
    display: -webkit-box; display: -ms-flexbox;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;-webkit-box-lines: multiple;
    -ms-flex-wrap: wrap;  
    align-items: center;
    -webkit-box-align: center; -ms-flex-align: center;
    border-bottom:1px solid #ddd;
}
.job-con-head > p,
.job-con-list > li > p{
    width:10%;
    padding:10px 0;
    text-align: center;
}
.job-con-head > p:nth-child(2),
.job-con-list > li > p:nth-child(2){
    width:25%;
}
.job-con-head > p:nth-child(3),
.job-con-list > li > p:nth-child(3){
    width:45%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
  
.job-con-head > p{
    font-weight: bold;
    border-bottom:1px solid #333;
}
.job-con-list > li > p{
    font-size: .8rem;
}
.job-con-list > li > p:nth-child(3){
    text-align: left;
    cursor: pointer;
}
  
.job-con-list-view{
    width:100%;
    background: rgba(0,0,0,.03);
    padding:2%;
    box-sizing: border-box;
    border-top:1px solid  rgba(0,0,0,.04);
    display: none;
}
  
pre{
    width:100%;
    line-height: 1.2rem;
    word-wrap: break-word;
    white-space: normal;
}
  
.label-box{
    display: inline-block;
    max-width:65px;
    width:100%;
    padding:2px 0;
    box-sizing: border-box;
    border-radius:100px;
    font-size:.75rem;
    border:1px solid #2289d5;
    color:#2289d5;
}
  
.new{
    display: inline-block;
    background:#ff8400;
    padding:0 3px;
    border-radius:100px;
    font-size: .7rem;
    color:#fff;
    font-weight: bold;
    margin-left:1%;
}
  
.close{
    color:rgb(202, 202, 202);
}
.close .label-box{
    border-color:rgb(202, 202, 202);
    color:rgb(202, 202, 202);
}
.close .new{
    display: none;
}