*{ margin:0;padding:0; }
body{
  /* font-family: 'Roboto Slab', sans-serif; */
  font-family: 'Roboto Mono', Monaco;
  color: #484848;
}



.page{
  width:100%;
  height:100vh;
  transition:all .4s;
}

.con-title{
  text-align: center;
  padding: 120px 0 30px; 
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom:10px;
}
.con-list,
.con-form{
  font-size: .9rem;
  max-width:1000px;
  width:100%;
  margin: auto;
}
.con-list{
  min-height:700px;
}
.con-list>li{
  color:#222;
}


@media screen and (max-width:1000px){
  .con-list,
  .con-form{ 
    max-width:none;
    width:100%;
    padding:0 2%;
    box-sizing: border-box;  
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
